* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

#screen {
    width: 100%;
    height: 2500px;
    border: 1px solid black;
}

#nav {
    width: 100%;
    height: 150px;
    /* border: 1px solid blue; */
    position: sticky;
    top: 0px;
}

.nav-b {
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
}

.nav-1 {
    width: 70%;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0%;


}

.nav-1-left {
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    margin-left: 0%;
    display: flex;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.nav-1-right {
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    margin-right: 0%;
    display: flex;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
    justify-content: space-between;
    color: rgb(80, 80, 80)
}

.nav-2 {
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    background-color: #fff;
}

.nav-2 img {
    width: 160px;
    height: 20px;
    margin-left: 80px;
    margin-top: 15px;
}

.nav-2-left {
    width: 18%;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 1.5%;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-family: montserrat, sans-serif;
}

.nav-2-right {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 20%;
    display: flex;
}

.nav-2-search {

    padding-left: 3%;
    width: 60%;
    height: 40px;
    /* border: 1px solid black; */
    margin-top: 4px;
    border-radius: 5px;
    background-color: #EAEAEA;


}

.nav-2-right .nav-2-search input {
    margin-left: 2%;
    margin-top: 10px;
    width: 80%;
    height: 20px;
    outline: none;
    background: transparent;
    /* border: 1px solid black; */
    border: none;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    /* background-color: #EAEAEA;   */

}

        
.nav-2-right .n2-bar {
    margin-top: 15px;
    margin-left: 10px;
}

.n2-log {
    width: 10%;
    height: 100%;
    /* border: 1px solid black; */
    text-decoration: none;
    margin-top: 15px;
    margin-left: 5px;
    /* padding-top: 10px; */
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    color: #4e535a;
    font-family: montserrat, sans-serif;
}

.n2-icon {
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;

}

.n2-icon i {
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
}


#nav-bottom {
    height: 50px;
    width: 100%;
    /*  */
    background-color: white;
}

#nav-3 {
    width: 10%;
    height: 20px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #4e535a;
}

#head {
    width: 20%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 50px;
    margin-left: 130px;
}

#head>h1 {
    letter-spacing: 1px;
    font-size: 24px;
    text-align: left;
    float: left;
}

#head>p {
    font-size: 24px;
    padding-left: 10px;
    color: #949494;
}

#upbar {
    width: 80%;
    /* border: 1px solid red;*/
    margin: auto;
    display: flex;
    margin-top: 20px;
}

#name {
    width: 92%;
    color: #949494;
    /* border: 1px solid black; */
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.pop {
    width: 8%;
    /* border: 1px solid green; */
    border: none;
}

#opt-img {
    width: 80%;
    height: 4038px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 1px;
    display: flex;
    position: sticky;
}

.options {
    width: 25%;
    height: 500px;
    /* border: 1px solid black; */
}

#images {
    width: 75%;
    height: 4038px;
    /* border: 1px solid green; */
    margin-left: 5px;
}

.opt {
    color: #949494;
    background-color: #949494;
    opacity: 0.8;
}

.select>option {
    color: #949494;
}

#images {
    width: 80%;
}

.footer {
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
    margin-top: 3px;
    background-color: black;
}

.footer-div {
    width: 90%;
    margin: auto;
    justify-content: space-around;
    display: flex;
}