* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

#screen {
    width: 100%;
    height: 2500px;
    border: 1px solid black;
}

#nav {
    width: 100%;
    height: 150px;
    /* border: 1px solid blue; */
    position: sticky;
    top: 0px;
}

.nav-b {
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
}

.nav-1 {
    width: 70%;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0%;
}

.nav-1-left {
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    margin-left: 0%;
    display: flex;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.nav-1-right {
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    margin-right: 0%;
    display: flex;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
    justify-content: space-between;
    color: rgb(80, 80, 80)
}

.nav-2 {
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    background-color: #fff;
}

.nav-2 img {
    width: 160px;
    height: 20px;
    margin-left: 80px;
    margin-top: 15px;
}

.nav-2-left {
    width: 18%;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 1.5%;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-family: montserrat, sans-serif;
}

.nav-2-right {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 20%;
    display: flex;
}

.nav-2-search {
    padding-left: 3%;
    width: 60%;
    height: 40px;
    /* border: 1px solid black; */
    margin-top: 4px;
    border-radius: 5px;
    background-color: #EAEAEA;
}

.nav-2-right .nav-2-search input {
    margin-left: 2%;
    margin-top: 10px;
    width: 80%;
    height: 20px;
    outline: none;
    background: transparent;
    /* border: 1px solid black; */
    border: none;
    font-family: montserrat, sans-serif;
    font-size: 10px;
    /* background-color: #EAEAEA;   */
}
     
.nav-2-right .n2-bar {
    margin-top: 15px;
    margin-left: 10px;
}

.n2-log {
    width: 10%;
    height: 100%;
    /* border: 1px solid black; */
    text-decoration: none;
    margin-top: 15px;
    margin-left: 5px;
    /* padding-top: 10px; */
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    color: #4e535a;
    font-family: montserrat, sans-serif;
}

.n2-icon {
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
}

.n2-icon i {
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
}

#nav-3 {
    width: 10%;
    height: 20px;
    /* border: 1px solid red; */
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #4e535a;
}

#head {
    width: 20%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
    margin-left: 130px;
}

#head>h1 {
    letter-spacing: 1px;
    font-size: 24px;
    text-align: left;
    float: left;
}

#head>p {
    font-size: 24px;
    padding-left: 10px;
    color: #949494;
}

#mens-main-content{
    width: 100%;
    height: 800px;
    /* border: 1px solid blue; */
    margin-top: 50px;
    display: flex;
    overflow: hidden;
    /* z-index: 3; */
}

#mens-main-left{
    width: 30%;
    height: 100%;
    /* border: 1px solid green; */
}

#mens-main-left h3{
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(150, 147, 147);
}

#mens-main-right{
    width: 70%;
    height: 100%;
    /* border: 1px solid green; */
    overflow: scroll;
    /* z-index: ; */
}

#mens-main-right::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.filters a{
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

.filters{
    padding: 10px 0px;
    width: 80%;
    border-bottom: 1px solid rgb(169, 168, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.t-accessories-men{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 10px; */
}

.t-img-men{
    width: 32%;
    height: 380px;
    /* border-radius: 5px; */
    overflow: hidden;
    margin-bottom: 15px;
    /* border: 1px solid black; */

}

/* .t-img-2:hover{
    width: 18%;
    height:290px ;
    transition: 0.3ms;
} */

.t-img-men img{
    height: 280px;
    width: 100%;
    object-fit: cover;
    position: relative;
    /* border-radius: 5px; */
    bottom: 20px;
    /* border-radius: 5px; */
}

.t-img-men img:hover{
    scale: 1.02;
    overflow: hidden;
    transition: 100ms;
    box-shadow: 5px 0px 12px rgb(186, 189, 241);
}

.off-2{
    position: relative;
    z-index: 1;
    display: inline-block;
    /* width: 30%; */
}